#{extends 'main.html' /}
#{set title:'login' /}
#{welcomemenu id:"login"/}

<div class="ui two column middle aligned grid basic segment">
    <section class="column">
        <form class="ui stacked segment form" action="/authenticate" method="POST">
            <h3 class="ui header">Log-in</h3>
            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email">
            </div>
            <div class="field">
                <label>Password</label> <input type="password" name="password">
            </div>
            <button class="ui blue submit button">Login</button>
        </form>
    </section>
    <section class="column">
        <img class="ui image" src="/public/images/Carroll.jpg">
        <figcaption><i>"I ran a marathon thanks to the fitness classes in Clooney Gym Services"</i><br>-John Carroll</figcaption>
    </section>
</div>